.background{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

overflow:hidden;

z-index:-1;

background:#030712;

}

.glow{

position:absolute;

border-radius:50%;

filter:blur(120px);

opacity:.45;

}

.glow1{

width:350px;

height:350px;

background:#7c3aed;

top:-100px;

left:-120px;

}

.glow2{

width:450px;

height:450px;

background:#2563eb;

bottom:-150px;

right:-150px;

}

.glow3{

width:280px;

height:280px;

background:#6366f1;

left:40%;

bottom:20%;
}